  .App {
    text-align: center;
    padding: 4rem;
    display: none;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  /* Map/FreeLunch/Filter toolbar */
  .toolbar {
      width: 100%;
      background-color: white;
      color: #4484EA;
      padding: 10px 0;
      text-align: center;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  /* FreeLunch */
  .toolbar h1 {
      margin: 0;
  }

  /* Buttons on toolbars: Map, Filter, Active, Upcoming, Archived */
  button {
      background-color: white;
      color: #4484EA;
      padding: 8px 12px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
  }

  /* map and filter img */
  button img {
      width: 40px;
      height: auto;
      margin-right: 100px;
      margin-left: 100px;
  }

  /* Toolbar for Active, Upcoming, Archived */
  .second-toolbar {
      width: 100%;
      display: flex;
      justify-content: space-between;
      background-color: #F4F4F4;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  /* borders and spacing for second toolbar */
  .second-toolbar button {
      flex-grow: 1;
      border: 1px solid black; /* Add black borders */
  }

  /* selected button background */
  .active {
      background-color: #4484EA;
      color: white;
  }

  /* All drop down section are for Filter drop menu */
  .dropdown {
      position: relative;
      display: inline-block;
  }

  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #fff;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      z-index: 1;
      width: 150px; /* Adjust the width of the dropdown */
  }

  .dropdown-content label {
      display: block;
      padding: 8px;
      white-space: nowrap; /* Prevent wrapping of the checkbox labels */
      margin-right: 100px;
  }

  .dropdown:hover .dropdown-content {
      display: block;
      left: 0;
      right: auto;
  }
  
  .ActiveList {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .UpcomingList {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ArchivedList {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .list-item {
    display: flex;
    background-color: #FFFFFF;
    padding: 20px; /* Adjusted padding for better spacing */
    border-radius: 20px;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
    border: 1px solid red;
    width: 600px;
    margin-bottom: 20px; /* Adjusted margin for spacing between list items */
    
  }

  .item-image img {
    width: 250px;
    height: 210px;
  }

  /* Texts on event box */
  .item-text {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    margin-top: 10px; /* Adjusted margin for spacing between image and text */
  }

  .item-primary-text {
    color: #36476D;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 5px;
  }

  .item-secondary-text {
    color: #828EA6;
    font-size: 1.2rem;
    line-height: 1rem;
  }

 

  



  